@{
    ViewBag.Title = "Group Items";
}

<div id="category-dashboard" class="row">
    <div class="metro example">
        <div class="tiles">
            <div class="tile onehalf onehalf-vertical"><img src="/images/groupitem1.gif" /></div>
            <div class="tile onehalf onehalf-vertical selected">
                <a href="@Url.Action("Drilldown", "Home")"><img src="/images/groupitem2.gif" /></a>
            </div>
            <div class="tile onehalf onehalf-vertical"><img src="/images/groupitem3.gif" /></div>
        </div>
    </div>
</div>