@{
    ViewBag.Title = "Groups";
}

<div class="row">
    <div class="metro example">
        <div class="tiles">
            <div class="tile double double-vertical"><img src="/images/DoubleDouble.png"  /></div>
            <div class="tile"><img src="/images/other.jpg" /></div>
            <div class="tile"><img src="/images/Brochure.png" /></div>
            <div class="tile double selected">
                <a href="@Url.Action("Group", "Home" )"><img src="/images/DoubleSingle.png" /></a>
            </div>
            <div class="tile vertical"><img src="/images/vertical.gif" /></div>
            <div class="tile double"><img src="/images/Stack.png" /></div>
        </div>
    </div>
</div>